.topNav > *{
    height: 50px;
    display: inline-block;
    text-align: center;
}
#logo{
    height: auto;
    width: 150px;
}
nav{
    margin-top: 30px;
    margin-right: 30px;
    float: right;
    color: #FFECD1;
}
.topLinks{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}
.topLinks:link{
    color: #FFECD1;
}
.topLinks:visited{
    color: #FFECD1;
}

body{
    background-color: #001524;
}

#profilePic{
    height: auto;
    width: 250px;
    border: #FFECD1 5px solid;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 10px;
}
#AboutMe{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 0px 0px 50px #15616d;

}
#introDiv{
    float: right;
    margin-left: 40px;
}
#about{
    color: #FFECD1;
    margin-bottom: 0px;
    padding: 0px;
    float: left;
    font-family: 'League Spartan', 'Courier New', Courier, monospace;
}
#intro{
    color: #FFECD1;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    line-height: 40px;
    padding: 0px;
    font-size: 20px;
    font-family:'League Spartan', 'Courier New', Courier, monospace;
}
#WorkExperienceDiv{
    color: #FFECD1;
    margin-left: 30px;
    font-family: 'League Spartan', 'Courier New', Courier, monospace;
}
.companyName{
   margin-bottom: 0px;
   padding: 0px;
   font-size: 30px;
}
.positionName{
    margin-top: 10px;
    padding: 0px;
    margin-bottom: 0px;
}
.jobDescription{
    margin-top: 0px;
    padding: 0px;
}
.pointsList{
    padding-left: 0;
    list-style: none;
}
.listItem{
    list-style-type: decimal;
    line-height: 30px;
    font-size: 17px;
    text-indent: 0%;
}
#TechStackHeading{
    color: #FFECD1;
    font-family: 'League Spartan', 'Courier New', Courier, monospace;
    font-size: 40px;
    margin-left: 30px;
}
#Skills>*{
    display: inline-block;
}
#Skills{
    overflow: auto;
    white-space: nowrap;
}
.subTechHeading{
    color: #FFECD1;
    font-family: 'League Spartan', 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 30px;
}
.TechGroup{
    width: fit-content;
    text-align: center;
}
.TechDiv{
    color: #FFECD1;
    margin-left: 30px;
    font-size: 16px;
    font-family: 'League Spartan', 'Courier New', Courier, monospace;
    grid-template-columns: 150px 100px;
    display: grid;
    text-align: center;
    
    /* div:nth-of-type(even) {
        grid-column: 2;
    } */
}
.techImages{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 30px #15616d;
    object-fit: cover;
}